/* Global */

body {
    width: 1024px;
    margin: auto;
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
        "header header"
        "main aside "
        "footer footer";
}

/* Top Bar */

header {
    background-color: #ea700d;
    width: 100%;
    grid-area: header;
}

h1 {
    width: fit-content;
    display: inline-block;
    margin: 0px;
}

nav {
    background-color: #31859b;
    list-style-type: none;
    width: fit-content;
    display: inline-block;
    height: 100%;
}

nav li {
    display: inline-block;
    margin: 15px;
}

/* Main content */

main {
    background-color: #ffd965;
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main > h2, main > p {
    grid-column: span 2;
}

article {
    background-color: #dde2cd;
}

/* Aside */

aside {
    background-color: #c4d6a0;
    float: right;
    grid-area: aside;
}

/* Footer */

footer {
    background-color: #7030a0;
    width: 100%;
    grid-area: footer;
}
