/* Global */

body {
    width: 1024px;
    margin: auto;
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
        "header header"
        "main aside "
        "footer footer";
}

/* Top Bar */

header {
    background-color: #ea700d;
    width: 100%;
    grid-area: header;
}

h1 {
    width: fit-content;
    float: left;
    margin: 0px;
    padding: 8px;
}

/* Nav */

nav {
    background-color: #31859b;
    display: inline-block;
}

nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
}

nav a {
    padding: 20px;
    display: block;
}

/* Main content */

main {
    background-color: #ffd965;
    grid-area: main;
}

#articles {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

article {
    background-color: #dde2cd;
}

article img {
    float: right;
}

/* Aside */

aside {
    background-color: #c4d6a0;
    float: right;
    grid-area: aside;
}

/* Footer */

footer {
    background-color: #7030a0;
    width: 100%;
    grid-area: footer;
}
